.jumbotron {
  background-image: url('../images/grass-background.jpg');
}

.transbox {
  width: 550px;
  margin: auto;
  background-color: #888;
  opacity: 0.85;
  color: #80B;
  text-shadow: 1px 1px 1px #777;
  font-weight:800;
  font-size: 24px;
}

.transbox p {
  font-weight:600;
  font-size: 24px;
}

footer {
  background-color: #888;
  color: #80B;
  padding-bottom: 25px;
}

footer a {
  text-decoration: underline;
  color: inherit;
}

form {
  margin: 20px 0 20px 0;
}
label {
  font-size: 18px;
}

option, select {
  min-height: 1.3em;
  font-size: 28px;
}

form button {
  margin: 0 15px 0 15px;
  font-size: 18px;
}

form span {
  float: right;
  font-size: 18px;
}

h3 a {
  padding-left: 20px;
}

h2 button {
  float: right;
  font-size: 18px;
  font-weight: normal;
  padding: 6px;
  margin-top: 5px;
}

th, td {
  padding: 1px 8px 1px 8px;
  border: 1px solid black;
}

th {
  background-color: #CCC;
}

table {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}
.row p {
  font-size: 18px;
}
