<div class="container">
  <form>
    <fieldset>
      <legend>Lost Link Reminder (All fields required):</legend>
      <p>
        <label for="email">Email:</label>
        <input type="text" name="email" maxlength="254" ng-model="reminder.email" />
      </p>
      <p>
        <label for="photonID">photon ID:</label>
        <input type="text" name="photonID" maxlength="24" ng-model="reminder.photonID" />
      </p>
      <p>
        <button ng-click="sendReminder()">Resend Link</button>
      </p>
    </fieldset>
  </form>
  <p ng-show="sent">Link Sent - check your email!</p>
</div>
