<div class="container">
  <p>Status Report for {{information.nickname}} at {{information.street_address}}, {{information.city}}, {{information.state}} {{information.zip}}<br />(Lat: {{information.latitude}}, Long: {{information.longitude}}) <a href="#/setup">Manage Settings...</a></p>
  <div class="row">
    <div class="md-col-3">
      <span>
        Indoor Temp: {{indoor.farenheit}}
      </span>
    </div>
    <div class="md-col-3">
      <span>
        Outdoor Temp: {{outdoor.temperature}}
      </span>
    </div>
    <div class="md-col-3">
      <span>
        Conditions: {{outdoor.summary}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="md-col-3">
      <span>
        Indoor RH: {{indoor.rh}}&#37;
      </span>
    </div>
    <div class="md-col-3">
      <span>
        Outdoor RH: {{outdoor.humidity * 100}}&#37;
      </span>
    </div>
    <div class="md-col-3">
      <span>
        Chance of rain: {{outdoor.precipProbability}}&#37;
      </span>
    </div>
  </div>
  <h2>Recommendation: Windows {{recommendation}} ({{reason}})</h2>
  <table>
    <tr><th>Date</th><th>Time</th><th>Indoor Temp</th><th>Indoor RH</th><th>Outdoor Temp</th><th>Outdoor RH</th><th>Rain %</th><th>Recommendation</th></tr>
    <tr ng-repeat="record in history | orderBy: 'date_time'">
      <td>{{record.date}}</td><td>{{record.time}}</td><td>{{record.spaceTemp}}</td><td>{{record.spaceRH}}</td><td>{{record.outsideTemp}}</td><td>{{record.outsideRH}}</td><td>{{record.precipChance}}</td><td>{{record.recommendation}}</td>
    </tr>
  </table>
</div>
