<div class="container">
  <h3>Status Report for &#34;{{information.nickname}}&#34; at {{information.street_address}}, {{information.city}}, {{information.state}} {{information.zip}}<br />(Lat: {{information.latitude}}, Long: {{information.longitude}}) <a ng-href="#/setup?device={{hash}}">Manage Settings...</a></h3>
  <div class="row">
    <div class="col-md-3">
      <p>
        Indoor Temp: {{indoor.farenheit}}
      </p>
    </div>
    <div class="col-md-3">
      <p>
        Outdoor Temp: {{outdoor.temperature}}
      </p>
    </div>
    <div class="col-md-3">
      <p>
        Conditions: {{outdoor.summary}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
        Indoor RH: {{indoor.rh}}&#37;
      </p>
    </div>
    <div class="col-md-3">
      <p>
        Outdoor RH: {{outdoor.humidity}}&#37;
      </p>
    </div>
    <div class="col-md-3">
      <p>
        Chance of rain: {{outdoor.precipProbability}}&#37;
      </p>
    </div>
  </div>
  <h2>Recommendation: Windows {{recommendation.recommendation}} ({{recommendation.reason}})</h2>
  <p>
    <button ng-click="directPhoton('window','fwd')">Open</button>
    <button ng-click="directPhoton('window','rev')">Close</button>
    <button ng-click="directPhoton('window','off')">Stop</button>
  </p>
  <table>
    <tr><th colspan="8">Previous Readings for this location:</th></tr>
    <tr><th>Date</th><th>Time (UTC)</th><th>Indoor Temp</th><th>Indoor RH</th><th>Outdoor Temp</th><th>Outdoor RH</th><th>Rain %</th><th>Recommendation</th></tr>
    <tr ng-repeat="record in history">
      <td>{{record.date}}</td><td>{{record.time}}</td><td>{{record.indoor_temp}}</td><td>{{record.indoor_rh}}</td><td>{{record.outdoor_temp}}</td><td>{{record.outdoor_rh}}</td><td>{{record.precip}}</td><td>{{record.recommend}}</td>
    </tr>
  </table>
</div>
